html {
    font-family: sans-serif;
}

html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
    word-wrap: break-word;
    word-break: break-all;
}

html,
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 禁止复制,移动端添加 */
    /* -webkit-user-select: none; */
    background-color: #fff;
    font-size: 14px;
    height: 100%;
    color: #262829;
}

nav,
article,
aside,
details,
main,
header,
footer,
section,
fieldset,
figcaption,
figure {
    display: block;
}

img,
a,
button,
em,
del,
strong,
var,
label,
cite,
small,
time,
mark,
code,
textarea {
    display: inline-block;
}

header,
section,
footer {
    position: relative;
}

ol,
ul {
    list-style: none;
}

input,
button,
textarea {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    /*解决ios端按钮和输入框自带圆角的问题*/
    -webkit-appearance: none;
    border-radius: 0;
    /*解决ios端按钮和输入框自带圆角的问题*/
}


/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */

a,
button,
input {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

span {
    display: inline-block;
}

a:active,
a:hover {
    outline: 0;
    color: #666 !important;
}

a,
a:visited {
    text-decoration: none;
    color: #666;
}

label,
.wordWrap {
    word-wrap: break-word;
    word-break: break-all;
}


/** 重置表格元素 **/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}


/*设置input框placeholder字体*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ccc;
}

fieldset,
img {
    border: 0;
}


/* img 搭车：让链接里的 img 无边框 */

button,
input,
select,
textarea {
    font-size: 100%;
}


/* 使得表单元素在 ie 下能继承字体大小 */

textarea {
    resize: none;
}


/*textarea去掉右下角*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

address,
cite,
dfn,
em,
var,
i {
    font-style: normal;
}


/* 将斜体扶正 */

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace;
}


/* 统一等宽字体 */

small {
    font-size: 12px;
}


/* 小于 12px 的中文很难阅读, 让 small 正常化 */


/*清除浮动*/

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow-y: auto;
    /*-webkit-overflow-scrolling: touch;*/
}

.wrap {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
    background-color: #f8f8f8;
}


/*单行文本溢出显示省略号*/

.single {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*多行文本溢出显示省略号*/

.more {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/*弹性盒模型垂直对齐*/

.flex-align-center {
    display: box;
    /* OLD - Android 4.4- */
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-align: center;
    /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}


/*水平，垂直居中*/

.flex-center {
    display: box;
    /* OLD - Android 4.4- */
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-align: center;
    /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    /* 09版 */
    -webkit-box-pack: center;
    /* 12版 */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

.flex-justify {
    display: box;
    /* OLD - Android 4.4- */
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-pack: center;
    /* 12版 */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

.flex1 {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}


/*vue 渲染数据使用*/

[v-cloak] {
    display: none !important;
}


/*隐藏滚动条*/

*::-webkit-scrollbar {
    display: none;
}


/* 字体 */

.MicrosoftYaHei {
    font-family: MicrosoftYaHei;
}

.SimSun {
    font-family: SimSun;
}


/* 字体大小 */

.fontSize12 {
    font-size: 12px;
}

.fontSize14 {
    font-size: 14px;
}

.fontSize16 {
    font-size: 16px;
}

.fontSize18 {
    font-size: 18px;
}

.fontSize24 {
    font-size: 24px;
}

.fontSize26 {
    font-size: 26px;
}


/* 字体颜色 */

.color7f8d9f {
    color: #7f8d9f;
}

.color333 {
    color: #333;
}

.colorffab00 {
    color: #ffab00;
}

.color000 {
    color: #000;
}

.colorfff {
    color: #fff;
}

.color666 {
    color: #666;
}

.color999 {
    color: #999;
}

.color010101 {
    color: #010101;
}


/* 轮播图样式 */

.ivu-carousel-dots li.ivu-carousel-active>button {
    background: #ffab00 !important;
}

.ivu-carousel-arrow {
    border-radius: 8px !important;
}

.ivu-carousel-dots-inside {
    bottom: 64px !important;
}


/* 轮播图样式 */